#root {
  height: 100vh; /* will cover the 100% of viewport */
  min-height: 100vh;
  overflow: hidden;
  display: block;
  position: relative;
  padding-bottom: 60px; /* height of your footer */
}

.video-player div {
  border-radius: 0.375rem !important;
  border-width: 0px;
}

@media only screen and (max-width: 30em) {
  .video-player div {
    border-radius: 0 !important;
  }
}
